<div class="header" role="banner">
	<div class="site-header">
		{% if pages["_meta"].meta.logo %}
			<img src="{{ base_url }}/{{ pages["_meta"].meta.logo|url }}" alt=""/>
		{% endif %}
	</div>

	<nav class="nav-bar">
		<input type="checkbox" class="menu-btn" id="menu-btn"/>
		<label for="menu-btn" class="menu-btn-label">
			<span>
				<!--Använder detta span till att utveckla humburgemenyn-->
			</span>
		</label>

		<ul>
			{% for page in pages(depthOffset=-1) if page.title and not page.hidden %}
				<li {% if page.id==current_page.id %} class="active" {% endif %}>
					<a href="{{ page.url }}">{{ page.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>

</div>
