/*-----------------------
   FOOTER
-------------------*/

.footer {
    //sticky footer
    margin-top: auto;
    padding: 20px;
    min-height: 100px;
    background-color: $header-clr;
    box-shadow: 0 0 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    p {
        color: $accent-color;
    }
}



.social a {
    font-size: 1.5rem;
    color: $accent-color;
    transition: $hover-transition;

    &:hover {
        color: $accent-color-alt;
    }
}

.theme-btn i {
    font-size: 1.5rem;
    color: $accent-color;
    transition: $hover-transition;

    &:hover {
        color: $accent-color-alt;
    }
}

.cursor {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 2px solid $font-color;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;

}

.cursor::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $font-color;
    border-radius: 50%;
}

.cursor.click::after {
    animation: click 1s ease-in-out forwards;
}

@keyframes click {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(5);

    }
    
}


