/*-----------------------
   MAIN CONTENT
-------------------*/

.main {
    max-width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*-----------------------
  LANDING PAGE
-------------------*/

.start-content {
    margin-top: 30px;
    max-width: 90%;
    display: flex;
}

.main-text {
    max-width: 500px;
    margin-left: 50px;
}

img[src*="#imgStart"] {
    outline: 2px solid $accent-color-alt;
    min-width: 200px;
    display: block;
    transition: $hover-transition;
    border-radius: 10px; 
}

img[src*="#imgStart"]:hover {
    outline-offset: 5px;
}


img[src*="#imgAbout"] {
    filter: invert(36%) sepia(71%) saturate(6646%) hue-rotate(332deg) brightness(92%) contrast(103%);
}