.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}



@media (max-width: 767px) {
    /*-----------------------
          NAV
      -------------------*/

    /*-----------------------
        MAIN
  -------------------*/

    .main {
        width: 90%;
        padding-bottom: 50px;
    }

    .landing-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: unset;
    }

    .landing-grid h1 {
        font-size: 3rem;
        padding: 5px;
        
    }

    .landing-grid h2 {
        position: unset;
        font-size: 2rem;
        padding: 5px;
    }

    .landing-grid h2 span {
        animation: unset;
        position: unset;
    }




}
