.main.tech {
    max-width: 1200px;
    perspective: 80rem;
    margin-bottom: 60px;
}

.tech-grid {
    align-self: start;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    transform: rotateY(30deg);
    transition: transform 900ms ease-in-out;
    margin-top: 30px;
}

.tech-box {
    border: 2px solid #000;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease-in-out;
}

.tech-box:hover,
.tech-box:focus {
    transform: scale(1.05);
    box-shadow: 0 0 1em;
}

.tech-box img {
    max-width: 100px;
    max-height: 100px;
}

.tech-grid > :nth-child(1) {
    filter: invert(73%) sepia(66%) saturate(5923%) hue-rotate(220deg) brightness(100%) contrast(102%);
    grid-row: 1 / 2;
}

.tech-grid > :nth-child(2) {
    filter: invert(49%) sepia(97%) saturate(6675%) hue-rotate(285deg) brightness(95%) contrast(117%);
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.tech-grid > :nth-child(2)::before {
    content: 'GIT';
}

.tech-grid > :nth-child(3) {
    filter: invert(14%) sepia(72%) saturate(6881%) hue-rotate(268deg) brightness(89%) contrast(105%);
    grid-row: 1 / 2;
    grid-column: 2 / span 2;
}

.tech-grid > :nth-child(4) {
    filter: invert(24%) sepia(81%) saturate(6756%) hue-rotate(318deg) brightness(105%) contrast(98%);
    grid-row: 2 / 3;
    grid-column: 3 / 5;
}

.tech-grid > :nth-child(5) {
    filter: invert(32%) sepia(43%) saturate(7497%) hue-rotate(270deg) brightness(96%) contrast(117%);
    grid-row: 1 / 2;
    grid-column: 4 / 5;
}

.tech-grid > :nth-child(6) {
    filter: invert(24%) sepia(75%) saturate(6275%) hue-rotate(304deg) brightness(94%) contrast(101%);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.tech-grid > :nth-child(6)::before {
    content: 'PYTHON ';
    filter: invert(24%) sepia(75%) saturate(6275%) hue-rotate(304deg) brightness(94%) contrast(101%);
    
}

.tech-grid > :nth-child(7) {
    filter: invert(38%) sepia(80%) saturate(5834%) hue-rotate(286deg)
    brightness(92%) contrast(104%);
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}

.tech-grid > :nth-child(7)::before {
    content: 'SQLite';
}
