@media (max-width: 700px) {
    .tech-wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    
    .tech-wrapper .content {
        margin-bottom: 30px;
    }

    .content .syntax pre {
        font-size: 0.75rem;
    }

    .content h1 {
        font-size: 2rem;
    }
}
